body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
}
nav{
    background-color: #27303B;
    padding: 2%;
}

nav .logo{
    width: 200px;
}
nav .menu{
    float: right;
}

.burger{
    display: none;
}
nav .menu a{
    color: white;
    text-decoration: none;
    padding: top;
    margin-left: 20px;
}
.login{
    width: 30px;
    margin-bottom: -10px;
}
.cover{
    width: 100%;
    height: 500px;
    
}
.home{
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: #27303b85;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 6%;
}
.footer{
    text-align: center;
    color: white;
    background-color: #27303B;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-top: -20px;
}

h1{
    color:#FFB32D;
    font-size:50px;
}
h2{
    color: white;
    font-size: 37px;

}
.footer_mobile{
    display: none;
}

@media screen and (max-width: 480px){

    nav .menu{
        float: right;
        display: none;
    }
    
    .burger{
        
        display: block;
        float: right;
        margin-top: 10px;
    }
    
    .home{
        position: absolute;
        top: 30%;
        left: 7%;
        background-color: #27303b85;
        text-align: center;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .cover{
        width: 100%;
        height: 750px;
        background-size:contain;
        
    }
    .footer_mobile{
        display: block;
        text-align: center;
        color: white;
        background-color: #27303B;
        padding-top: 10%;
        padding-bottom: 6%;
        margin-top: -20px;
    }
    .footer{
        display: none;
    }
    
}

